<div class="table-block">
  <table class="shadow">
    <caption>
      <h3>Table Example</h3>
    </caption>
    <thead>
      <th *ngFor="let c of columns">{{c.headerText}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of viewRows">
        <td *ngFor="let c of row">{{c}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="viewRows[0].length">
          Records {{from }} to {{to}}
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<app-d-pagination *ngIf="pages > 1" [pages]="pages" [currentPage]="page" (clickCallback)="setViewRows($event)"></app-d-pagination>

pages - {{pages}} - rows {{rows.length}} - viewRows ={{viewRows.length}}