.pagination {
    display: flex;
    justify-content: center;
    .btn-group {
        position: relative;
        border-radius: 2px;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 10px;
    }
    button {
        cursor: pointer;
        background-color: #1565c0;
        color: white;
        min-width: 30px;
        user-select: none;
        display: inline-block;
        line-height: 36px;
        padding: 0 16px;
        border: none;
    }
    button[disabled] {
        cursor: not-allowed;
    }
    .selected {
        background-color: white;
        color: #1565c0;
    }
}